= form_for @mibun do |f|
  - if @mibun.errors.any?
    #error_explanation
      %h2= "#{pluralize(@mibun.errors.count, "error")} prohibited this mibun from being saved:"
      %ul
        - @mibun.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :absence_time
    = f.text_field :absence_time
  .field
    = f.label :absence_reason
    = f.text_field :absence_reason
  .actions
    = f.submit 'Save'
