%h1 Listing mibuns

%table
  %tr
    %th Status
    %th Absence time
    %th Absence reason
    %th
    %th
    %th

  - @mibuns.each do |mibun|
    %tr
      %td= mibun.status
      %td= mibun.absence_time
      %td= mibun.absence_reason
      %td= link_to 'Show', mibun
      %td= link_to 'Edit', edit_mibun_path(mibun)
      %td= link_to 'Destroy', mibun, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Mibun', new_mibun_path
