%p#notice= notice

%p
  %b Status:
  = @mibun.status
%p
  %b Absence time:
  = @mibun.absence_time
%p
  %b Absence reason:
  = @mibun.absence_reason

= link_to 'Edit', edit_mibun_path(@mibun)
\|
= link_to 'Back', mibuns_path
