%h1 Listing aiit_members

%table
  %tr
    %th Name
    %th Birthday
    %th Gender
    %th Memo
    %th
    %th
    %th

  - @aiit_members.each do |aiit_member|
    %tr
      %td= aiit_member.name
      %td= aiit_member.birthday
      %td= aiit_member.gender
      %td= aiit_member.memo
      %td= link_to 'Show', aiit_member
      %td= link_to 'Edit', edit_aiit_member_path(aiit_member)
      %td= link_to 'Destroy', aiit_member, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Aiit member', new_aiit_member_path
