%p#notice= notice

%p
  %b 名前:
  = @aiit_member.name
%p
  %b 生年月日:
  = @aiit_member.birthday
%p
  %b 性別:
  = @aiit_member.gender
%p
  %b 備考:
  = @aiit_member.memo

= link_to 'Edit', edit_aiit_member_path(@aiit_member)
\|
= link_to 'Back', aiit_members_path
