%p#notice= notice

%p
  %b Name:
  = @aiit_member.name
%p
  %b Birthday:
  = @aiit_member.birthday
%p
  %b Gender:
  = @aiit_member.gender
%p
  %b Memo:
  = @aiit_member.memo

= link_to 'Edit', edit_aiit_member_path(@aiit_member)
\|
= link_to 'Back', aiit_members_path
