%h1 Listing students_lists

%table
  %tr
    %th Name
    %th Classification
    %th Gakusyu no
    %th Grade
    %th Class
    %th User
    %th E mail
    %th Nationality
    %th Visa
    %th Nyugaku
    %th Risyukikan
    %th Syuryo
    %th Pbl 1st
    %th Pbl 2nd
    %th Pbl teacher
    %th
    %th
    %th

  - @students_lists.each do |students_list|
    %tr
      %td= students_list.name
      %td= students_list.classification
      %td= students_list.gakusyu_no
      %td= students_list.grade
      %td= students_list.class
      %td= students_list.user_id
      %td= students_list.E_mail
      %td= students_list.nationality
      %td= students_list.visa
      %td= students_list.nyugaku
      %td= students_list.risyukikan
      %td= students_list.syuryo
      %td= students_list.PBL_1st
      %td= students_list.PBL_2nd
      %td= students_list.PBL_teacher
      %td= link_to 'Show', students_list
      %td= link_to 'Edit', edit_students_list_path(students_list)
      %td= link_to 'Destroy', students_list, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Students list', new_students_list_path
