%p#notice= notice

%p
  %b Name:
  = @students_list.name
%p
  %b Classification:
  = @students_list.classification
%p
  %b Gakusyu no:
  = @students_list.gakusyu_no
%p
  %b Grade:
  = @students_list.grade
%p
  %b Class:
  = @students_list.class
%p
  %b User:
  = @students_list.user_id
%p
  %b E mail:
  = @students_list.E_mail
%p
  %b Nationality:
  = @students_list.nationality
%p
  %b Visa:
  = @students_list.visa
%p
  %b Nyugaku:
  = @students_list.nyugaku
%p
  %b Risyukikan:
  = @students_list.risyukikan
%p
  %b Syuryo:
  = @students_list.syuryo
%p
  %b Pbl 1st:
  = @students_list.PBL_1st
%p
  %b Pbl 2nd:
  = @students_list.PBL_2nd
%p
  %b Pbl teacher:
  = @students_list.PBL_teacher

= link_to 'Edit', edit_students_list_path(@students_list)
\|
= link_to 'Back', students_lists_path
