%h1 学生一覧　照会

%table{:class => "table table-condensed"}
  %tr
    %td{:class=>"span2"} AIIT 会員
    %td= @student_list.aiit_member_id
  %tr
    %td 学修番号
    %td= @student_list.name
  %tr
    %td 種別
    %td= @student_list.classification
  %tr
    %td 学年
    %td= @student_list.grade
  %tr
    %td クラス
    %td= @student_list.program
  %tr
    %td ユーザID
    %td= @student_list.student_account
  %tr
    %td 学内E-Mailアドレス
    %td= @student_list.campus_email
  %tr
    %td 国籍
    %td= @student_list.nationality
  %tr
    %td 在留資格
    %td= @student_list.visa
  %tr
    %td 開始時間
    %td= @student_list.beginning
  %tr
    %td 終了時間
    %td= @student_list.end
  %tr
    %td 長期履修
    %td= @student_list.longterm
  %tr
    %td PBL前期
    %td= @student_list.PBL_1st
  %tr
    %td PBL後期
    %td= @student_list.PBL_2nd
  %tr
    %td PBL担任
    %td= @student_list.PBL_teacher
  %tr
    %td 保証人
    %td= @student_list.guarantor_id
  %tr
    %td 備考
    %td= @student_list.memo

= link_to '変更', edit_student_list_path(@student_list)
\|
= link_to '戻る', student_lists_path
