%p#notice= notice

%p
  %b Aiit member:
  = @student_list.aiit_member_id
%p
  %b Name:
  = @student_list.name
%p
  %b Classification:
  = @student_list.classification
%p
  %b Grade:
  = @student_list.grade
%p
  %b Program:
  = @student_list.program
%p
  %b Student account:
  = @student_list.student_account
%p
  %b Campus email:
  = @student_list.campus_email
%p
  %b Nationality:
  = @student_list.nationality
%p
  %b Visa:
  = @student_list.visa
%p
  %b Entrance date:
  = @student_list.entrance_date
%p
  %b Study period:
  = @student_list.study_period
%p
  %b Graduation date:
  = @student_list.graduation_date
%p
  %b Pbl 1st:
  = @student_list.PBL_1st
%p
  %b Pbl 2nd:
  = @student_list.PBL_2nd
%p
  %b Pbl teacher:
  = @student_list.PBL_teacher
%p
  %b Guarantor:
  = @student_list.guarantor_id
%p
  %b Memo:
  = @student_list.memo

= link_to 'Edit', edit_student_list_path(@student_list)
\|
= link_to 'Back', student_lists_path
