= form_for @status_record do |f|
  - if @status_record.errors.any?
    #error_explanation
      %h2= "#{pluralize(@status_record.errors.count, "error")} prohibited this status_record from being saved:"
      %ul
        - @status_record.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :student_list_id
    = f.number_field :student_list_id
  .field
    = f.label :status
    = f.text_field :status
  .field
    = f.label :absence_time
    = f.text_field :absence_time
  .field
    = f.label :beginning
    = f.date_select :beginning
  .field
    = f.label :end
    = f.date_select :end
  .field
    = f.label :absence_reason
    = f.text_field :absence_reason
  .field
    = f.label :memo
    = f.text_area :memo, :size=>"10x10", :class=>"span9"
  .actions
    = f.submit '保存'
