= form_for @status_record do |f|
  - if @status_record.errors.any?
    #error_explanation
      %h2= "#{pluralize(@status_record.errors.count, "error")} prohibited this status_record from being saved:"
      %ul
        - @status_record.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :student_list_id
    = f.number_field :student_list_id
  .field
    = f.label :status
    = f.select :status, [["退学", "退学"], ["休学", "休学"], ["復学", "復学"], ["除籍", "除籍"]]
  .field
    = f.label :absence_reason
    = f.select :absence_reason, [["業務都合", "業務都合"], ["経済的理由", "経済的理由"], ["家庭の事情", "家庭の事情"], ["健康上の理由", "健康上の理由"], ["その他", "その他"]]
  .field
    = f.label :absence_time
    = f.select :absence_time, [["一年", "一年"], ["半年", "半年"], ["その他", "その他"]]
  .field
    = f.label :beginning
    = f.date_select :beginning
  .field
    = f.label :end
    = f.date_select :end
  .field
    = f.label :return_reason
    = f.text_field :return_reason
  .field
    = f.label :memo
    = f.text_area :memo
  .actions
    = f.submit '保存'
