<<<<<<< HEAD
%h1 Editing status_record

= render 'form'

= link_to 'Show', @status_record
\|
= link_to 'Back', status_records_path
=======
%h1 身分異動情報　変更

= render 'form'

= link_to '照会', @status_record
\|
= link_to '戻る', status_records_path
>>>>>>> origin/chou
