%h1 身分異動情報　一覧

%table{:class => "table table-condensed"}
  %tr{:bgcolor => "#EBF5EC"}
    %th Student list
    %th 身分
    %th 休学期間
    %th Beginning
    %th End
    %th 異動理由
    %th 備考
    %th
    %th
    %th

  - @status_records.each do |status_record|
    %tr
      %td= status_record.student_list_id
      %td= status_record.status
      %td= status_record.absence_time
      %td= status_record.beginning
      %td= status_record.end
      %td= status_record.absence_reason
      %td= status_record.memo
      %td= link_to '照会', status_record
      %td= link_to '変更', edit_status_record_path(status_record)
      %td= link_to '削除', status_record, :method => :delete, :data => { :confirm => '本当に削除してよろしいですか?' }

%br

= link_to '新規作成', new_status_record_path
