%h1 Listing status_records

%table
  %tr
    %th Student list
    %th Status
    %th Absence time
    %th Absence reason
    %th Memo
    %th
    %th
    %th

  - @status_records.each do |status_record|
    %tr
      %td= status_record.student_list_id
      %td= status_record.status
      %td= status_record.absence_time
      %td= status_record.absence_reason
      %td= status_record.memo
      %td= link_to 'Show', status_record
      %td= link_to 'Edit', edit_status_record_path(status_record)
      %td= link_to 'Destroy', status_record, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Status record', new_status_record_path
