= form_for @privacy do |f|
  - if @privacy.errors.any?
    #error_explanation
      %h2= "#{pluralize(@privacy.errors.count, "error")} prohibited this privacy from being saved:"
      %ul
        - @privacy.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :aiit_member_id
    = f.number_field :aiit_member_id
  .field
    = f.label :kana_name
    = f.text_field :kana_name
  .field
    = f.label :eng_name
    = f.text_field :eng_name
  .field
    = f.label :gender
    = f.text_field :gender
  .field
    = f.label :birthday
    = f.date_select :birthday
  .field
    = f.label :birthplace
    = f.text_field :birthplace
  .field
    = f.label :zip_code
    = f.text_field :zip_code
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :block
    = f.text_field :block
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :building
    = f.text_field :building
  .field
    = f.label :tel
    = f.text_field :tel
  .field
    = f.label :mobile
    = f.text_field :mobile
  .field
    = f.label :pc_email
    = f.text_field :pc_email
  .field
    = f.label :mobile_email
    = f.text_field :mobile_email
  .field
    = f.label :graduated_school
    = f.text_field :graduated_school
  .field
    = f.label :department
    = f.text_field :department
  .field
    = f.label :stream
    = f.text_field :stream
  .field
    = f.label :graduated_date
    = f.text_field :graduated_date
  .field
    = f.label :new_graduates
    = f.check_box :new_graduates
  .field
    = f.label :occupation
    = f.text_field :occupation
  .field
    = f.label :company
    = f.text_field :company
  .field
    = f.label :company_address
    = f.text_field :company_address
  .field
    = f.label :work_period
    = f.text_field :work_period
  .field
    = f.label :memo
    = f.text_area :memo
  .actions
    = f.submit 'Save'
