<%= form_for(@privacy) do |f| %>
  <% if @privacy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@privacy.errors.count, "error") %> prohibited this privacy from being saved:</h2>

      <ul>
      <% @privacy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :kana_name %><br />
    <%= f.text_field :kana_name %>
  </div>
  <div class="field">
    <%= f.label :eng_name %><br />
    <%= f.text_field :eng_name %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.text_field :sex %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    <%= f.label :nationality %><br />
    <%= f.text_field :nationality %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :block %><br />
    <%= f.text_field :block %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :building %><br />
    <%= f.text_field :building %>
  </div>
  <div class="field">
    <%= f.label :tel %><br />
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :mail_pc %><br />
    <%= f.text_field :mail_pc %>
  </div>
  <div class="field">
    <%= f.label :mail_mobile %><br />
    <%= f.text_field :mail_mobile %>
  </div>
  <div class="field">
    <%= f.label :graduated_school %><br />
    <%= f.text_field :graduated_school %>
  </div>
  <div class="field">
    <%= f.label :department %><br />
    <%= f.text_field :department %>
  </div>
  <div class="field">
    <%= f.label :graduated_date %><br />
    <%= f.date_select :graduated_date %>
  </div>
  <div class="field">
    <%= f.label :occupation %><br />
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :company_address %><br />
    <%= f.text_field :company_address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
