%h1 Listing privacies

%table
  %tr
    %th Aiit member
    %th Kana name
    %th Eng name
    %th Gender
    %th Birthday
    %th Birthplace
    %th Zip code
    %th City
    %th Block
    %th Address
    %th Building
    %th Tel
    %th Mobile
    %th Pc email
    %th Mobile email
    %th Graduated school
    %th Department
    %th Stream
    %th Graduated date
    %th New graduates
    %th Occupation
    %th Company
    %th Company address
    %th Work period
    %th Memo
    %th
    %th
    %th

  - @privacies.each do |privacy|
    %tr
      %td= privacy.aiit_member_id
      %td= privacy.kana_name
      %td= privacy.eng_name
      %td= privacy.gender
      %td= privacy.birthday
      %td= privacy.birthplace
      %td= privacy.zip_code
      %td= privacy.city
      %td= privacy.block
      %td= privacy.address
      %td= privacy.building
      %td= privacy.tel
      %td= privacy.mobile
      %td= privacy.pc_email
      %td= privacy.mobile_email
      %td= privacy.graduated_school
      %td= privacy.department
      %td= privacy.stream
      %td= privacy.graduated_date
      %td= privacy.new_graduates
      %td= privacy.occupation
      %td= privacy.company
      %td= privacy.company_address
      %td= privacy.work_period
      %td= privacy.memo
      %td= link_to 'Show', privacy
      %td= link_to 'Edit', edit_privacy_path(privacy)
      %td= link_to 'Destroy', privacy, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Privacy', new_privacy_path
