<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @privacy.name %>
</p>

<p>
  <b>Kana name:</b>
  <%= @privacy.kana_name %>
</p>

<p>
  <b>Eng name:</b>
  <%= @privacy.eng_name %>
</p>

<p>
  <b>Sex:</b>
  <%= @privacy.sex %>
</p>

<p>
  <b>Birthday:</b>
  <%= @privacy.birthday %>
</p>

<p>
  <b>Nationality:</b>
  <%= @privacy.nationality %>
</p>

<p>
  <b>Zip code:</b>
  <%= @privacy.zip_code %>
</p>

<p>
  <b>City:</b>
  <%= @privacy.city %>
</p>

<p>
  <b>Block:</b>
  <%= @privacy.block %>
</p>

<p>
  <b>Address:</b>
  <%= @privacy.address %>
</p>

<p>
  <b>Building:</b>
  <%= @privacy.building %>
</p>

<p>
  <b>Tel:</b>
  <%= @privacy.tel %>
</p>

<p>
  <b>Mobile:</b>
  <%= @privacy.mobile %>
</p>

<p>
  <b>Mail pc:</b>
  <%= @privacy.mail_pc %>
</p>

<p>
  <b>Mail mobile:</b>
  <%= @privacy.mail_mobile %>
</p>

<p>
  <b>Graduated school:</b>
  <%= @privacy.graduated_school %>
</p>

<p>
  <b>Department:</b>
  <%= @privacy.department %>
</p>

<p>
  <b>Graduated date:</b>
  <%= @privacy.graduated_date %>
</p>

<p>
  <b>Occupation:</b>
  <%= @privacy.occupation %>
</p>

<p>
  <b>Company:</b>
  <%= @privacy.company %>
</p>

<p>
  <b>Company address:</b>
  <%= @privacy.company_address %>
</p>


<%= link_to 'Edit', edit_privacy_path(@privacy) %> |
<%= link_to 'Back', privacies_path %>
