%h1 個人情報　照会

%table{:class => "table table-condensed"}
  %tr
    %td{:class=>"span2"} AIIT 会員
    %td= @privacy.aiit_member_id
  %tr
    %td 英字氏名
    %td= @privacy.eng_name
  %tr
    %td 出身
    %td= @privacy.birthplace
  %tr
    %td 郵便番号
    %td= @privacy.zip_code
  %tr
    %td 都道府県
    %td= @privacy.city
  %tr
    %td 市区町村
    %td= @privacy.block
  %tr
    %td 住所番地
    %td= @privacy.address
  %tr
    %td 建物名・部屋番号
    %td= @privacy.building
  %tr
    %td 電話番号（自宅）
    %td= @privacy.tel
  %tr
    %td 電話番号（携帯）
    %td= @privacy.mobile
  %tr
    %td 個人Mail（PC）
    %td= @privacy.pc_email
  %tr
    %td 個人Mail（携帯）
    %td= @privacy.mobile_email
  %tr
    %td 卒業学校
    %td= @privacy.graduated_school
  %tr
    %td 学部
    %td= @privacy.department
  %tr
    %td 文理
    %td= @privacy.stream
  %tr
    %td 卒業年度
    %td= @privacy.graduated_date
  %tr
    %td 新卒
    %td= @privacy.new_graduates
  %tr
    %td 現職
    %td= @privacy.occupation
  %tr
    %td 勤務先
    %td= @privacy.company
  %tr
    %td 勤務先住所
    %td= @privacy.company_address
  %tr
    %td 勤務期間
    %td= @privacy.work_period
  %tr
    %td 備考
    %td= @privacy.memo

= link_to '変更', edit_privacy_path(@privacy)
\|
= link_to '戻る', privacies_path
