%p#notice= notice

%p
  %b Aiit member:
  = @privacy.aiit_member_id
%p
  %b Kana name:
  = @privacy.kana_name
%p
  %b Eng name:
  = @privacy.eng_name
%p
  %b Gender:
  = @privacy.gender
%p
  %b Birthday:
  = @privacy.birthday
%p
  %b Birthplace:
  = @privacy.birthplace
%p
  %b Zip code:
  = @privacy.zip_code
%p
  %b City:
  = @privacy.city
%p
  %b Block:
  = @privacy.block
%p
  %b Address:
  = @privacy.address
%p
  %b Building:
  = @privacy.building
%p
  %b Tel:
  = @privacy.tel
%p
  %b Mobile:
  = @privacy.mobile
%p
  %b Pc email:
  = @privacy.pc_email
%p
  %b Mobile email:
  = @privacy.mobile_email
%p
  %b Graduated school:
  = @privacy.graduated_school
%p
  %b Department:
  = @privacy.department
%p
  %b Stream:
  = @privacy.stream
%p
  %b Graduated date:
  = @privacy.graduated_date
%p
  %b New graduates:
  = @privacy.new_graduates
%p
  %b Occupation:
  = @privacy.occupation
%p
  %b Company:
  = @privacy.company
%p
  %b Company address:
  = @privacy.company_address
%p
  %b Work period:
  = @privacy.work_period
%p
  %b Memo:
  = @privacy.memo

= link_to 'Edit', edit_privacy_path(@privacy)
\|
= link_to 'Back', privacies_path
