= form_for @exam_list do |f|
  - if @exam_list.errors.any?
    #error_explanation
      %h2= "#{pluralize(@exam_list.errors.count, "error")} prohibited this exam_list from being saved:"
      %ul
        - @exam_list.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :aiit_member_id
    = f.number_field :aiit_member_id
  .field
    = f.label :exam_no
    = f.text_field :exam_no
  .field
    = f.label :review_flg
    = f.check_box :review_flg
  .field
    = f.label :decision_reason
    = f.text_field :decision_reason
  .field
    = f.label :citizen_of_tokyo
    = f.check_box :citizen_of_tokyo
  .field
    = f.label :examination
    = f.text_field :examination
  .field
    = f.label :exam_year
    = f.number_field :exam_year
  .field
    = f.label :basic_knowledge
    = f.number_field :basic_knowledge
  .field
    = f.label :paper
    = f.number_field :paper
  .field
    = f.label :presentation
    = f.number_field :presentation
  .field
    = f.label :interview
    = f.number_field :interview
  .field
    = f.label :test_score
    = f.number_field :test_score
  .field
    = f.label :result
    = f.check_box :result
  .field
    = f.label :memo
    = f.text_area :memo
  .actions
    = f.submit 'Save'
