%h1 Listing exam_lists

%table
  %tr
    %th Examno
    %th Reviewflg
    %th Decisionreason
    %th Citizenoftokyo
    %th Examination
    %th Examyear
    %th Basicknowledge
    %th Paper
    %th Presentation
    %th Interview
    %th Testscore
    %th Result
    %th Memo
    %th
    %th
    %th

  - @exam_lists.each do |exam_list|
    %tr
      %td= exam_list.examno
      %td= exam_list.reviewflg
      %td= exam_list.decisionreason
      %td= exam_list.citizenoftokyo
      %td= exam_list.examination
      %td= exam_list.examyear
      %td= exam_list.basicknowledge
      %td= exam_list.paper
      %td= exam_list.presentation
      %td= exam_list.interview
      %td= exam_list.testscore
      %td= exam_list.result
      %td= exam_list.memo
      %td= link_to 'Show', exam_list
      %td= link_to 'Edit', edit_exam_list_path(exam_list)
      %td= link_to 'Destroy', exam_list, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Exam list', new_exam_list_path
