%p#notice= notice

%p
  %b Aiit member:
  = @exam_list.aiit_member_id
%p
  %b Exam no:
  = @exam_list.exam_no
%p
  %b Review flg:
  = @exam_list.review_flg
%p
  %b Decision reason:
  = @exam_list.decision_reason
%p
  %b Citizen of tokyo:
  = @exam_list.citizen_of_tokyo
%p
  %b Examination:
  = @exam_list.examination
%p
  %b Exam year:
  = @exam_list.exam_year
%p
  %b Basic knowledge:
  = @exam_list.basic_knowledge
%p
  %b Paper:
  = @exam_list.paper
%p
  %b Presentation:
  = @exam_list.presentation
%p
  %b Interview:
  = @exam_list.interview
%p
  %b Test score:
  = @exam_list.test_score
%p
  %b Result:
  = @exam_list.result
%p
  %b Memo:
  = @exam_list.memo

= link_to 'Edit', edit_exam_list_path(@exam_list)
\|
= link_to 'Back', exam_lists_path
