%h1 受験一覧　照会
%table{:class => "table table-condensed"}
  %tr
    %td{:class=>"span2"} AIIT 会員
    %td= @exam_list.aiit_member_id
  %tr
    %td 受験番号
    %td= @exam_list.exam_no
  %tr
    %td 事前審査有無
    %td= @exam_list.review_flg
  %tr
    %td 判定理由
    %td= @exam_list.decision_reason
  %tr
    %td 都民
    %td= @exam_list.citizen_of_tokyo
  %tr
    %td 入試
    %td= @exam_list.examination
  %tr
    %td 受験年度
    %td= @exam_list.exam_year
  %tr
    %td IT基礎知識
    %td= @exam_list.basic_knowledge
  %tr
    %td 小論文
    %td= @exam_list.paper
  %tr
    %td プレゼンテーション
    %td= @exam_list.presentation
  %tr
    %td 面接
    %td= @exam_list.interview
  %tr
    %td 合計点
    %td= @exam_list.test_score
  %tr
    %td 合否
    %td= @exam_list.result
  %tr
    %td 備考
    %td= @exam_list.memo

= link_to '変更', edit_exam_list_path(@exam_list)
\|
= link_to '戻る', exam_lists_path
