= form_for @prospect do |f|
  - if @prospect.errors.any?
    #error_explanation
      %h2= "#{pluralize(@prospect.errors.count, "error")} prohibited this prospect from being saved:"
      %ul
        - @prospect.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :aiit_member_id
    = f.number_field :aiit_member_id
  .field
    = f.label :received_date
    = f.date_select :received_date
  .field
    = f.label :wished_program
    = f.text_field :wished_program
  .field
    = f.label :wished_material
    = f.text_field :wished_material
  .field
    = f.label :event
    = f.text_field :event
  .field
    = f.label :visited_date
    = f.date_select :visited_date
  .field
    = f.label :contact_unnecessary
    = f.check_box :contact_unnecessary
  .field
    = f.label :applikation
    = f.text_field :applikation
  .field
    = f.label :memo
    = f.text_area :memo
  .actions
    = f.submit '保存'
