%h1 Listing prospects

%table
  %tr
    %th Jusndt
    %th Kbsnko
    %th Kbsryo
    %th Event
    %th Raijdt
    %th Infoyn
    %th Syugan
    %th
    %th
    %th

  - @prospects.each do |prospect|
    %tr
      %td= prospect.jusndt
      %td= prospect.kbsnko
      %td= prospect.kbsryo
      %td= prospect.event
      %td= prospect.raijdt
      %td= prospect.infoyn
      %td= prospect.syugan
      %td= link_to 'Show', prospect
      %td= link_to 'Edit', edit_prospect_path(prospect)
      %td= link_to 'Destroy', prospect, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Prospect', new_prospect_path
