%p#notice= notice

%p
  %b Jusndt:
  = @prospect.jusndt
%p
  %b Kbsnko:
  = @prospect.kbsnko
%p
  %b Kbsryo:
  = @prospect.kbsryo
%p
  %b Event:
  = @prospect.event
%p
  %b Raijdt:
  = @prospect.raijdt
%p
  %b Infoyn:
  = @prospect.infoyn
%p
  %b Syugan:
  = @prospect.syugan

= link_to 'Edit', edit_prospect_path(@prospect)
\|
= link_to 'Back', prospects_path
