<<<<<<< HEAD
%h1 Editing tuition

= render 'form'

= link_to 'Show', @tuition
\|
= link_to 'Back', tuitions_path
=======
%h1 授業料関係　変更

= render 'form'

= link_to '照会', @tuition
\|
= link_to '戻る', tuitions_path
>>>>>>> origin/chou
