%p#notice= notice

%p
  %b Student list:
  = @tuition.student_list_id
%p
  %b Transfer request:
  = @tuition.transfer_request
%p
  %b Exemption type:
  = @tuition.exemption_type
%p
  %b Scholarship division:
  = @tuition.scholarship_division
%p
  %b Loan amount:
  = @tuition.loan_amount
%p
  %b Memo:
  = @tuition.memo

= link_to 'Edit', edit_tuition_path(@tuition)
\|
= link_to 'Back', tuitions_path
