%p#notice= notice

%p
  %b Student list:
  = @tuition.student_list_id
%p
  %b Transfer request:
  = @tuition.transfer_request
%p
  %b First term reduction:
  = @tuition.first_term_reduction
%p
  %b Second term reduction:
  = @tuition.second_term_reduction
%p
  %b Scholarship division:
  = @tuition.scholarship_division
%p
  %b Loan amount:
  = @tuition.loan_amount
%p
  %b Memo:
  = @tuition.memo

= link_to 'Edit', edit_tuition_path(@tuition)
\|
= link_to 'Back', tuitions_path
